@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  80% {
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  80% {
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  80% {
    -webkit-transform: translate(2rem);
            transform: translate(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  80% {
    -webkit-transform: translate(2rem);
            transform: translate(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.parallax-container {
  height: 400px;
}

/* text size adjust */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* box model */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fffafa;
  background-color: #d3d3d3;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.nav-wrapper {
  background-color: #1c4f9c;
}

.sidenav li a {
  color: #1c4f9c;
  font-size: 1.5em;
}

.dropdown-content {
  width: 400px !important;
  background-color: #fffafa;
  height: 60vh;
}

.dropdown-content li {
  padding-left: 20px;
}

.dropdown-content li a {
  color: #1c4f9c;
  font-size: 2em;
}

.hero {
  height: 95vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(211, 211, 211, 0.8)), color-stop(rgba(115, 147, 179, 0.8)), color-stop(rgba(28, 79, 156, 0.8)), to(rgba(25, 71, 140, 0.8))), url(../assets/images/milledgevilleOverlook.jpeg);
  background-image: linear-gradient(to left bottom, rgba(211, 211, 211, 0.8), rgba(115, 147, 179, 0.8), rgba(28, 79, 156, 0.8), rgba(25, 71, 140, 0.8)), url(../assets/images/milledgevilleOverlook.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 87%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 87%, 0 100%, 0 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.center-content h1,
.center-content h3 {
  line-height: 1;
}

.center-content h1 {
  text-transform: uppercase;
  font-size: 2.85em;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.center-content h3 {
  margin-bottom: 40px;
  font-size: 1.5em;
  font-family: "Amatic SC", cursive;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.button {
  text-transform: uppercase;
  color: #fffafa;
  padding: 20px;
  border: 1px solid #fffafa;
  text-decoration: none;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.button:hover,
.button :active {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.7);
}

.about {
  color: #010306;
}

.about h2 {
  font-size: 3em;
  font-family: "Amatic SC", cursive;
  line-height: 1.25;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
}

.about p {
  font-size: 1.25em;
  text-indent: 25px;
}

.divider {
  margin: 30px;
  background-color: #7393b3;
}

.carousel {
  margin-top: 30px;
}

.location {
  color: #010306;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.location h2 {
  font-size: 3em;
  font-family: "Amatic SC", cursive;
  line-height: 1.25;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
}

.location a {
  color: #010306;
}

.location h4 {
  font-size: 1.25em;
  line-height: 1.25;
}

.map {
  margin-top: 40px;
}

.contact {
  color: #1c4f9c;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.contact h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  color: #010306;
}

.contact h3 {
  font-size: 2em;
  font-family: "Amatic SC", cursive;
}

.contact p {
  text-indent: 25px;
  color: #010306;
  font-size: 1.25em;
}

.contact i {
  color: #1c4f9c;
}

.contact .btn {
  background-color: #19478c;
}

.instagram {
  color: #19478c;
}

.instagram h2 {
  font-family: "Amatic SC", cursive;
  font-size: 2.5em;
}

.faqs {
  margin-bottom: 30px;
}

.faqs h2 {
  /*font-family: $accentFont;*/
  color: #1c4f9c;
}

.faqs .collapsible-header {
  background-color: #e8edf5;
  color: #1c4f9c;
}

.faqs .collapsible-body {
  color: #010306;
}

.faqs a {
  color: #1c4f9c;
}

.page-footer {
  margin-top: auto;
  background-color: #1c4f9c;
}

/*thank-you page*/
.thank-you {
  background-color: #1c4f9c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 250px 10px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  color: #010306;
}

.thank-you h1 {
  font-size: 3em;
}

.thank-you h2 {
  font-size: 2.5em;
}

.thank-you a {
  font-family: "Amatic SC", cursive;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
  }
  .center-content h1 {
    font-size: 3.45em;
  }
  .center-content h3 {
    font-size: 2.5em;
  }
  .button {
    font-size: 1.5em;
  }
  .about .section-heading {
    margin-top: 100px;
  }
  .about h2 {
    padding-top: 40px;
    font-size: 3em;
  }
  .about p {
    margin: 0 50px;
    font-size: 1.5em;
  }
  .about .padding-bottom {
    padding-bottom: 100px;
  }
  .location {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
  .location h2 {
    font-size: 2em;
  }
  .location h4 {
    font-size: 1.25em;
  }
}

/* medium screen */
@media only screen and (min-width: 900px) {
  .center-content h1 {
    font-size: 4.5em;
  }
  .center-content h3 {
    font-size: 4em;
  }
  .button {
    font-size: 2em;
  }
  .about h2 {
    font-size: 4em;
  }
  .about p {
    margin: 10px 100px;
    font-size: 2em;
  }
  .about .padding-bottom {
    padding-bottom: 150px;
  }
  .location {
    height: auto;
    margin: 0 30px;
  }
  .location h2 {
    font-size: 2.75em;
  }
  .location h4 {
    font-size: 1.5em;
  }
}

/* large screen */
/*# sourceMappingURL=style.css.map */